/* Analizar el siguiente código señalando declaraciones y aplicaciones de reglas, y su efecto. */
 
p#normal {
font-family: arial,helvetica;
font-size: 11px;
font-weight: bold;
}
*#destacado {
border-style: solid;
border-color: blue;
border-width: 2px;
}
#distinto {
background-color: #9EC7EB;
color: red;
}

/*La primer regla p#normal hace las declaraciones font-family: arial, helvetica; y su efecto es una 
fuente del texto diferente; font-size: 11px; que modifica el tamaño de fuente; y font-weight: bold; que pone 
el texto en negrita.
La segunda regla *#destacado hace las declaraciones border-style: solid; dan un borde sólido; border-color: blue;
y su efecto es un borde azul; y border-width: 2px; que genera un borde de 2 píxeles.
La tercer regla #distinto modifica el color del texto (color: red;) y a su vez el fondo del mismo (background-color: #9EC7EB;).
*/